<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bangkit.artnesia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ArtNesia">
        <activity
            android:name=".ui.activity.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MyOrderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.OrderListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.CartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AddressListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AddAddressActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.LiteratureActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.DetailProductActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MyProductActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.DetailArticleActivity"
            android:exported="false"
            android:theme="@style/Theme.DetailActivity"/>
        <activity
            android:name=".ui.activity.DetectionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.DetailLiteratureActivity"
            android:exported="false"
            android:theme="@style/Theme.DetailActivity"/>
        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>